/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin-ext');

body {
    font-family: 'Roboto', sans-serif !important;
    background: #F2F3F8 !important;
}

.fs-1 {
    font-size: 12px !important;
}
.fs-2 {
    font-size: 14px !important;
}
.fs-3 {
    font-size: 16px !important;
}
.fs-4 {
    font-size: 18px !important;
}
.fs-5 {
    font-size: 24px !important;
}

svg {
    opacity: 0.33;
    -webkit-transition: all 350ms ease-in;
    -moz-transition: all 350ms ease-in;
    -ms-transition: all 350ms ease-in;
    -o-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}

svg:hover {
    opacity: 1;
    -webkit-transition: all 350ms ease-in;
    -moz-transition: all 350ms ease-in;
    -ms-transition: all 350ms ease-in;
    -o-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}

a, a:hover {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.full-height {
    height: 100%;
}

.box {
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.05);
    box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.05);
    -webkit-transition: all 0.3s ease;
}

.blue-badge {
    color: rgba(0, 123, 255, 1) !important;
    background: rgba(0, 123, 255, 0.06) !important;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
}

.approve-button {
    width: 36px;
    height:36px;
    background: transparent ;
    border: 1px solid rgb(65, 194, 65);
    border-radius: 50%;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    display: inline-flex;
}

.approve-button:hover, .approve-button:focus {
    background: rgb(65, 194, 65);
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.approve-button svg {
    fill: rgb(65, 194, 65);
    width: 36px;
    height: 36px;
    opacity: 1;
}
.approve-button svg:hover {
    fill: #ffffff;
}
.approve-button:focus {
    outline: none;
}
.cancel-button {
    width: 36px;
    height:36px;
    background: transparent ;
    border: 1px solid rgb(218, 43, 43);
    border-radius: 50%;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    display: inline-flex;
}

.cancel-button:hover, .cancel-button:focus {
    background: rgb(218, 43, 43);
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.cancel-button svg {
    fill: rgb(218, 43, 43) !important;
    width: 36px;
    height: 36px;
    opacity: 1;
}
.cancel-button svg:hover {
    fill: #ffffff !important;
}
.cancel-button:focus {
    outline: none;
}

.inline {
    display: inline-grid;
}

table td, table th {
    font-size: 14px;
    vertical-align: middle !important;
}
table {
    margin: 0 !important;
}
table tbody {
    max-height: 100px;
}
table tr {
    border-top: 1px solid #F2F3F8 !important;
    background: #ffffff;
}
table tr:hover {
    background:rgba(242, 243, 248, 0.6) !important;
}
table thead tr {
    border: 0 !important;
}
table thead tr:hover {
    background: transparent !important;
}
table thead tr th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}
app-user-review {
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tableFixHead {
    overflow: auto;
    height: 100px;
}
.tableFixHead thead tr th {
    position: sticky;
    top: 0;
}
table thead tr th {
    background: #ffffff;
    -webkit-box-shadow: 10px 0px 40px 0px rgba(82,63,105,0.1);
    box-shadow: 10px 0px 40px 0px rgba(82,63,105,0.1);
    -webkit-transition: all 0.3s ease;
    z-index: 1;
}

/* width */
::-webkit-scrollbar:vertical {
    width: 4px;
}

::-webkit-scrollbar:horizontal {
    height: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    width: 10px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}