<div class="row mx-5 my-5">
  <div class="col">
    <div class="row  mb-3">
      <div class="col-1 text-left">
        <a class="btn btn-sm" routerLink="../">
          <svg width="24" height="24" class="icon text-white">
              <image width="24" height="24" xlink:href="assets/images/icons/back.svg"/>
          </svg>
        </a>
      </div>
      <div class="col text-right">
        <h3>New Certificate</h3>
      </div>
    </div>
    <form enctype="multipart/form-data" [formGroup]="CertificateForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name<span class="text-danger">*</span></label>
            <input type="text" formControlName="commonName" class="form-control" placeholder="Enter Name" required>
            <small *ngIf="CertificateForm.controls.commonName.errors?.required && CertificateForm.controls.commonName.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="form-group">
            <label for="organisation">Organization<span class="text-danger">*</span></label>
            <input type="text" formControlName="organisation" class="form-control" placeholder="Enter organization" required>
            <small *ngIf="CertificateForm.controls.organisation.errors?.required && CertificateForm.controls.organisation.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="form-group">
            <label for="organisationUnit">Organization Unit<span class="text-danger">*</span></label>
            <input type="text" formControlName="organisationUnit" class="form-control" placeholder="Enter Organisation Unit" required>
            <small *ngIf="CertificateForm.controls.organisationUnit.errors?.required && CertificateForm.controls.organisationUnit.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="form-group">
              <label for="validFromDate">Valid From Date<span class="text-danger">*</span></label>
              <input type="text" formControlName="validFromDate" class="form-control" placeholder="Enter Date" required>
              <small *ngIf="CertificateForm.controls.validFromDate.errors?.required && CertificateForm.controls.validFromDate.touched" class="form-text text-danger">*Required</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="country">Country<span class="text-danger">*</span></label>
            <input type="text" formControlName="country" class="form-control" placeholder="Enter Country" required>
            <small *ngIf="CertificateForm.controls.country.errors?.required && CertificateForm.controls.country.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="form-group">
            <label for="locality">Locality<span class="text-danger">*</span></label>
            <input type="text" formControlName="locality" class="form-control" placeholder="Enter Locality" required>
            <small *ngIf="CertificateForm.controls.locality.errors?.required && CertificateForm.controls.locality.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="form-group">
            <label for="state">State<span class="text-danger">*</span></label>
            <input type="text" formControlName="state" class="form-control" placeholder="Enter state" required>
            <small *ngIf="CertificateForm.controls.state.errors?.required && CertificateForm.controls.state.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="form-group">
              <label for="validToDate">Valid To Date<span class="text-danger">*</span></label>
              <input type="text" formControlName="validToDate" class="form-control" placeholder="Enter Date" required>
              <small *ngIf="CertificateForm.controls.validToDate.errors?.required && CertificateForm.controls.validToDate.touched" class="form-text text-danger">*Required</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="issuer">Issuer</label>
            <select class="form-control" formControlName="issuer">
              <option value="0" hidden>-- Select Issuer --</option>
              <option value="1">Issuer 1</option>
              <option value="2">Issuer 2</option>
            </select>
            <small *ngIf="CertificateForm.controls.issuer.errors?.required && CertificateForm.controls.issuer.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" formControlName="type">
              <option value="0" hidden>-- Select Type --</option>
              <option value="1">Final</option>
              <option value="2">Intermediate</option>
            </select>
            <small *ngIf="CertificateForm.controls.type.errors?.required && CertificateForm.controls.type.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="text-right">
            <button type="submit" [disabled]="!CertificateForm.valid" class="btn btn-primary">Submit</button>
            <a class="btn btn-outline-secondary ml-1" routerLink="../">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


