<div class="modal-header">

    <h5 class="modal-title" id="exampleModalLabel">{{ accommodation.accommodationName }}</h5>
    <span role="button" aria-label="Close" aria-hidden="true" class="table-btn table-btn-danger borderless" (click)="activeModal.dismiss('Cross click')">
      <svg class="icon">
        <use xlink:href="#Close_Icon"></use>
      </svg>
    </span>
</div>
<div class="modal-body">
      <!-- <img src="../../../assets/images/accommodation.jpg" class="card-img-top" alt="...">
      <p class="card-text">{{ accommodation.description }}</p> -->
      <div class="form-group">
          <div class="tableFixHead flex-grow-1" style="height: 100% !important">
            <!-- <table class="table table-borderless table-hover">
              <tbody>
                  <tr *ngFor="let picture of pictures">
                    <img [src]="'data:image/jpg;base64,'+ picture.picUrl" style="width:250px;height:200px">
                  </tr>
              </tbody>
            </table> -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="max-height: 400px !important">
                  <div class="carousel-item" *ngFor="let picture of pictures; let i = index" [ngClass]="(i===1) ? 'active': ''">
                    <img [src]="'data:image/jpg;base64,'+ picture.picUrl"class="d-block w-100">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
          </div>
        </div>

      <hr>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="btnGroupSort" ngbDropdownToggle>Sort by</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="sort(0)">Price (Low to High)</button>
          <button ngbDropdownItem (click)="sort(1)">Price (High to Low)</button>
        </div>
      </div>

      <div class="row">
          <table class="table table-striped">
              <thead>
                <tr>
                    <th scope="col">Accommodation</th>
                    <th scope="col">Category</th>
                    <th scope="col">Number of Beds</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>

                <tr *ngFor="let accommodationUnitList of accommodationUnitList; let i = index">
                  <ng-container>
                      <td>{{accommodationUnitList.accomodation.accommodationName }}</td>
                      <td>{{accommodationUnitList.category.categoryName }}</td>
                      <td>{{accommodationUnitList.numberOfPeople }}</td>
                      <td>{{accommodationUnitList.type.typeName}}</td>
                      <td>${{prices[i]}}</td>
                      <button [disabled]="!(this.isLoggedIn())" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#messageModal" (click)="onReserve(accommodationUnitList)">Reserve</button>
                    </ng-container>
                </tr>

              </tbody>
          </table>
      </div>

</div>
