<div class="modal-header">

    <h5 class="modal-title" id="exampleModalLabel">{{ accommodation.accommodationName }}</h5>
    <span role="button" aria-label="Close" aria-hidden="true" class="table-btn table-btn-danger borderless" (click)="activeModal.dismiss('Cross click')">
      <svg class="icon">
        <use xlink:href="#Close_Icon"></use>
      </svg>
    </span>
</div>
<div class="modal-body">
      <img src="../../../assets/images/accommodation.jpg" class="card-img-top" alt="...">
      <p class="card-text">{{ accommodation.description }}</p>
      <hr>

      <div class="row">
          <table class="table table-striped">
              <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Accommodation</th>
                    <th scope="col">Category</th>
                    <th scope="col">Extra Fields</th>
                    <th scope="col">Number of People</th>
                    <th scope="col">Type</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>

                <tr *ngFor="let accommodationUnit of accommodationUnits">
                  <ng-container>
                      <th scope="row">1</th>
                      <td>{{accommodationUnit.accomodation }}</td>
                      <td>{{accommodationUnit.category }}</td>
                      <td>{{accommodationUnit.extraField }}</td>
                      <td>{{accommodationUnit.numberOfPeople }}</td>
                      <td>{{accommodationUnit.type}}</td>

                      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#messageModal" (click)="onReserve(accommodationUnit)">Reserve</button>
                 </ng-container>
                </tr>

              </tbody>
          </table>
      </div>

</div>
