<div class="modal-header px-5 pt-5">
  <h4 class="modal-title">Occupancy of unit {{unitId}}</h4>
  <span role="button" aria-label="Close" aria-hidden="true" class="table-btn table-btn-danger borderless"
    (click)="activeModal.dismiss('Cross click')">
    <svg class="icon">
      <use xlink:href="#Close_Icon"></use>
    </svg>
  </span>
</div>
<form [formGroup]="occupancyForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="tableFixHead flex-grow-1">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th scope="col" width="150">Date From</th>
                <th scope="col" width="150">Date To</th>
                <th scope="col" width="150"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="occupancies$ | async as occupancies; else loading">
                <tr *ngFor="let occupancy of occupancies">
                  <td><span class="blue-badge">{{occupancy.dateFrom | date: 'medium'}}</span></td>
                  <td><span class="blue-badge">{{occupancy.dateTo | date: 'medium'}}</span></td>
                  <td class="float-right">
                    <span role="button" class="table-btn table-btn-danger borderless mr-2"
                      (click)="deleteOccupancy(occupancy.reservationId)">
                      <svg class="icon">
                        <use xlink:href="#Delete_Icon"></use>
                      </svg>
                    </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-4 px-5">
      <div class="col-md-6">

        <div class="form-group">
          <label for="dateFrom" class="col-form-label col-form-label-sm">Date from<span
              class="text-danger">*</span></label>
          <input type="datetime-local" formControlName="dateFrom" class="form-control form-control-sm"
            placeholder="Enter date from" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="dateTo" class="col-form-label col-form-label-sm">Date to<span class="text-danger">*</span></label>
          <input type="datetime-local" formControlName="dateTo" class="form-control form-control-sm"
            placeholder="Enter date to" required>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start px-5 pt-2 pb-5">
      <button type="submit" [disabled]="!occupancyForm.valid" class="btn btn-primary">Add occupancy</button>
    </div>
    
    <div class="modal-footer d-flex justify-content-end px-5 pt-2 pb-5">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Ok</button>
    </div>
  </div>
</form>

<svg width="0" height="0" class="hidden d-none">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="Close_Icon">
    <path d="M22.9 14.5l-1.4-1.4-3.5 3.5-3.5-3.5-1.4 1.4 3.5 3.5-3.5 3.5 1.4 1.4 3.5-3.5 3.5 3.5 1.4-1.4-3.5-3.5z">
    </path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="Checkmark_Icon">
    <path d="M25.3 11.4L15 21.7l-4.3-4.3-1.4 1.4 5 5 .7.7.7-.7 11-11-1.4-1.4z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="Delete_Icon">
    <path d="M22 13v-2h-8v2h-3v2h2v10h10V15h2v-2h-3zm-1 10h-6v-8h6v8z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Search_Icon">
    <path
      d="M31.6 30.2l-4.3-4.3c.7-1 1.1-2.2 1.1-3.5 0-3.3-2.7-6-6-6s-6 2.7-6 6 2.7 6 6 6c1.3 0 2.5-.4 3.5-1.1l4.3 4.3 1.4-1.4zm-9.2-3.8c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z">
    </path>
  </symbol>
</svg>