<div class="row mt-4 mb-4">
  <div class="col-12">
      <h3>Branko Perisic</h3>
  </div>
</div>
<div class="row mt-4 mb-4">
  <div class="col-5"></div>
  <div class="col-1">
      <a href="/profile/inbox">
        <button type="button" class="btn btn-primary">Inbox</button>
      </a>
  </div>
  <div class="col-1">
      <a href="/profile/edit">
        <button type="button" class="btn btn-primary">Edit Profile</button>
      </a>
  </div>
</div>

<div class="row">

  <h3>Reservations</h3>

</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date From</th>
        <th scope="col">Date To</th>
        <th scope="col">Price</th>
        <th scope="col">Accommodation</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>15 Jun</td>
        <td>20 Jun</td>
        <td>25000</td>
        <td>Ada Bojana baraka</td>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ratingModal">Rating</button>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelModal">Cancel</button>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>15 Jun</td>
        <td>20 Jun</td>
        <td>25000</td>
        <td>Ada Bojana baraka</td>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ratingModal">Rating</button>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelModal">Cancel</button>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>15 Jun</td>
        <td>20 Jun</td>
        <td>25000</td>
        <td>Ada Bojana baraka</td>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ratingModal">Rating</button>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelModal">Cancel</button>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Cancel -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelModalLabel">Cancel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to cancel this reservation</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Rating -->
<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ratingModalLabel">Rating</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

