<div class="row mt-4 mb-4">
  <div class="col-12">
      <h3>Branko Perisic</h3>
  </div>
</div>
<div class="row mt-4 mb-4">
  <div class="col-5"></div>
  <div class="col-1">
      <a href="/profile/inbox">
        <button type="button" class="btn btn-primary">Inbox</button>
      </a>
  </div>
  <div class="col-1">
      <a href="/profile/edit">
        <button type="button" class="btn btn-primary">Edit Profile</button>
      </a>
  </div>
</div>

<div class="row">

  <h3>Reservations</h3>

</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date From</th>
        <th scope="col">Date To</th>
        <th scope="col">Price</th>
        <th scope="col">Accommodation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>15 Jun</td>
        <td>20 Jun</td>
        <td>25000</td>
        <td>Ada Bojana baraka</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>15 Jun</td>
        <td>20 Jun</td>
        <td>25000</td>
        <td>Ada Bojana baraka</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>15 Jun</td>
        <td>20 Jun</td>
        <td>25000</td>
        <td>Ada Bojana baraka</td>
      </tr>
    </tbody>
  </table>
</div>

