<div class="row mx-5 my-5">
  <div class="col">
    <div class="row mb-3">
      <div class="col">
        <h3>Certificates</h3>
      </div>
      <div class="col text-right">
          <button type="button" class="btn btn-primary" routerLink="new">New Certificate</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Serial No.</th>
              <th scope="col">Valid From</th>
              <th scope="col">Valid Thru</th>
              <th scope="col">Issuer</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Public Key</th>
              <th scope="col">Serial Number/th>
              <th scope="col">Country</th>
              <th scope="col">State</th>
              <th scope="col">Organization</th>
              <th scope="col">Organization Unit</th>
              <th scope="col">Locality</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="certs | async; let certs">
              <tr *ngFor="let cert of certs">
                <td>{{cert.commonName}}</td>
                <td>{{cert.serialNumber}}</td>
                <td>{{cert.validFromDate}}</td>
                <td>{{cert.validToDate}}</td>
                <td>{{cert.issuer}}</td>
                <td>{{cert.type}}</td>
                <td>{{cert.active}}</td>
                <td>{{cert.publicKey}}</td>
                <td>{{cert.serialNumber}}</td>
                <td>{{cert.country}}</td>
                <td>{{cert.state}}</td>
                <td>{{cert.organisation}}</td>
                <td>{{cert.organisationUnit}}</td>
                <td>{{cert.locality}}</td>
                <td><span class="badge badge-success">Active</span></td>
                <td class="text-right">
                  <a routerLink="" data-toggle="tooltip" data-placement="top" title="Revoke" onmouseenter="$(this).tooltip('show')">
                    <svg width="25" height="25">
                        <image width="25" height="25" xlink:href="assets/images/icons/edit.svg"/>
                    </svg>
                  </a>
                  <a class="ml-3" routerLink="" data-toggle="tooltip" data-placement="top" title="Download" onmouseenter="$(this).tooltip('show')">
                    <svg width="25" height="25">
                        <image width="25" height="25" xlink:href="assets/images/icons/download.svg"/>
                    </svg>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
