<div class="table-responsive box d-flex flex-column full-height">
  <div class="d-flex px-5 pt-5 pb-4">
    <h4 class="flex-grow-1">User Reviews</h4>
    <form novalidate="novalidate" onsubmit="return false;" class="searchbox mb-3">
      <div role="search" class="searchbox__wrapper">
        <input id="search-input" type="search" name="search" placeholder="Enter keyword" autocomplete="off"
          required="required" class="searchbox__input">
        <button type="submit" class="searchbox__submit">
          <svg role="img" aria-label="Search">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Search_Icon"></use>
          </svg>
        </button>
        <button type="reset" title="Clear the search input" class="searchbox__reset hide">
          <svg role="img" aria-label="Reset">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Close_Icon"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
  <div class="tableFixHead flex-grow-1">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Comment</th>
          <th scope="col">Accommodation</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="comments$ | async as comments; else loading">
          <tr *ngFor="let comment of comments">
            <th scope="row"><span class="blue-badge">{{comment.commentId}}</span></th>
            <td>{{comment.client}}</td>
            <td>{{comment.commentBody}}</td>
            <td>{{comment.accommodation.accommodationName}}</td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
  <div class="table-footer px-5 py-3 d-flex justify-content-center">
    <div class="table-footer-side align-self-center">
      <span class="blue-badge">TOTAL: {{collectionSize}}</span>
    </div>
    <ngb-pagination class="flex-grow-1 d-flex justify-content-center" [collectionSize]="collectionSize"
      [(page)]="currentPage" [pageSize]="pageSize" aria-label="Custom pagination">
      <ng-template ngbPaginationPrevious>Prev</ng-template>
      <ng-template ngbPaginationNext>Next</ng-template>
    </ngb-pagination>
    <div class="table-footer-side d-flex justify-content-end">
      <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
        <option *ngFor="let s of pageSizes" value={{s}}>{{s}}</option>
      </select>
    </div>
  </div>
</div>
<svg width="0" height="0" class="hidden d-none">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="Close_Icon">
    <path d="M22.9 14.5l-1.4-1.4-3.5 3.5-3.5-3.5-1.4 1.4 3.5 3.5-3.5 3.5 1.4 1.4 3.5-3.5 3.5 3.5 1.4-1.4-3.5-3.5z">
    </path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Search_Icon">
    <path
      d="M31.6 30.2l-4.3-4.3c.7-1 1.1-2.2 1.1-3.5 0-3.3-2.7-6-6-6s-6 2.7-6 6 2.7 6 6 6c1.3 0 2.5-.4 3.5-1.1l4.3 4.3 1.4-1.4zm-9.2-3.8c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z">
    </path>
  </symbol>
</svg>