<div class="col"></div>
<div class="row">

    <h4>Inbox</h4>

</div>

<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Preview</th>
            <th scope="col">Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of messages">
              <ng-container *ngIf="message.recieved">
                <b *ngIf="!message.opened"><td>{{message.messageBody}}</td></b>
                <td *ngIf="message.opened">{{message.messageBody}}</td>
                <td>{{message.messageTime}}</td>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" (click)="open(message)">Open</button>
              </ng-container>
            </tr>
        </tbody>
    </table>
</div>


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="replyFormGroup">
        <div class="modal-body">

            <p> {{text}} </p>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Write Response:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="messageText"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="reply()" data-dismiss="modal">Reply</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>
    </div>
  </div>
</div>
