<table class="table">
    <thead>
      <h3>Inbox</h3>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sender</th>
        <th scope="col">Preview</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Open
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Open
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Open
          </button>
        </td>
      </tr>
    </tbody>
  </table>



  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sender Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Lorem ipsum dolor sit amet, vitae mollis aperiam per no, has rebum legimus appellantur ea. Libris referrentur eos et, eu quis quando principes mei. Augue nobis eam ad, ipsum ridens viderer ne eam. Ex sea mazim legimus.
          <br><br>
          Alii eligendi definiebas per an, vim at consequat definitionem, mazim placerat gloriatur vel ut. Probo tamquam equidem in pro. Ex autem ullum est. Id nobis utroque maluisset quo, fugit vivendo blandit nam te. Ei minim option deserunt mea, aeque virtute blandit ius no. Ea his dicunt insolens, dolor democritum et his, ferri simul eu duo.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reply</button>
      </div>
    </div>
  </div>
</div>
