<div class="px-5 pt-5">
  <div class="page-header">
    <h4>{{accommodationName}}</h4>
  </div>

  <form [formGroup]="accommodationForm" (ngSubmit)="onSubmit()">
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="form-group">
          <label for="accommodationName" class="col-form-label col-form-label-sm">Accommodation name<span
              class="text-danger">*</span></label>
          <div class="input-group">
            <input type="text" formControlName="accommodationName" class="form-control form-control-sm"
              placeholder="Accommodation Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="NumberOdDays" class="col-form-label col-form-label-sm">Number of days before cancelation<span
              class="text-danger">*</span></label>
          <input type="number" formControlName="numberOfDaysBeforeCancelation" class="form-control form-control-sm"
            placeholder="Enter number of days" required>
        </div>
        <div class="form-group">
          <label for="description" class="col-form-label col-form-label-sm">Description</label>
          <textarea formControlName="description" class="form-control form-control-sm"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <ng-container formGroupName="city">
          <div class="form-group">
            <ng-container *ngIf="cities$ | async as cities; else loading">
              <label for="city" class="col-form-label col-form-label-sm">City<span class="text-danger">*</span></label>
              <select type="text" formControlName="cityId" class="form-control form-control-sm" required>
                <option *ngFor="let c of cities" value="{{c.cityId}}">{{c.name}}</option>
              </select>
            </ng-container>
  
          </div>
        </ng-container>
        <div class="form-group">
          <div class="tableFixHead flex-grow-1">
            <table class="table table-borderless table-hover">
              <tbody>
                <ng-container *ngIf="pictures$ | async as pictures; else loading">
                  <tr *ngFor="let picture of pictures">
                    <img [src]="'data:image/jpg;base64,'+ picture.picUrl" style="width:250px;height:200px">
                    <td class="float-right">
                      <span role="button" class="table-btn table-btn-danger borderless mr-2"
                        (click)="deletePicture(picture.pictureId)">
                        <svg class="icon">
                          <use xlink:href="#Delete_Icon"></use>
                        </svg>
                      </span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <input type="file" accept="image/*" (change)="handleFileSelect($event)" required>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-start  pt-2 pb-5">
      <button type="submit" [disabled]="!accommodationForm.valid" class="btn btn-primary">{{submitBtnText}}</button>
    </div>
  </form>
</div>


<svg width="0" height="0" class="hidden d-none">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="Close_Icon">
    <path d="M22.9 14.5l-1.4-1.4-3.5 3.5-3.5-3.5-1.4 1.4 3.5 3.5-3.5 3.5 1.4 1.4 3.5-3.5 3.5 3.5 1.4-1.4-3.5-3.5z">
    </path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="Checkmark_Icon">
    <path d="M25.3 11.4L15 21.7l-4.3-4.3-1.4 1.4 5 5 .7.7.7-.7 11-11-1.4-1.4z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" id="Delete_Icon">
    <path d="M22 13v-2h-8v2h-3v2h2v10h10V15h2v-2h-3zm-1 10h-6v-8h6v8z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Search_Icon">
    <path
      d="M31.6 30.2l-4.3-4.3c.7-1 1.1-2.2 1.1-3.5 0-3.3-2.7-6-6-6s-6 2.7-6 6 2.7 6 6 6c1.3 0 2.5-.4 3.5-1.1l4.3 4.3 1.4-1.4zm-9.2-3.8c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z">
    </path>
  </symbol>
</svg>